<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29700169778-2keblmdkr5qg2mplee31uveri9l1v0dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29700169778-2keblmdkr5qg2mplee31uveri9l1v0dq</string>
	<key>API_KEY</key>
	<string>AIzaSyCIvcr7kw4F3ODmAQ6M9m1EzUvuyuZN-fc</string>
	<key>GCM_SENDER_ID</key>
	<string>29700169778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellerAppNew</string>
	<key>PROJECT_ID</key>
	<string>food-seller-d0a28</string>
	<key>STORAGE_BUCKET</key>
	<string>food-seller-d0a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29700169778:ios:72dffe3501d8647058dc2b</string>
</dict>
</plist>